<!-- Your code here -->
<% if not @name.nil? %>
<h1>Hello <%=@name%></h1>
<% end %>

<!--
<% if not @w.nil? %>
<h1>In the city of <%=@city_name%></h1>
<h1>The Forcast is <%=@d%></h1>
<h1>and the Temperature is:</h1>  
<h1><%=@f%> Fahrenheit</h1>
<% end %>
--> 

<%City.all.each do |c|%>
  <% if not c.nil?%>
    <h1>In The City of <%=c.name%></h1>
    <h1>The Temperature is:<%=c.temperature%> Fahrenheit</h1>
    <h1>and the Forcast is:<%=c.description%></h1>
  <%end%>
<%end%>

 <%= form_with local: true, method: "get" do |f| %>
   <%= f.text_field :city %>
   <%= f.submit %>
 <% end %>
