<%= link_to "Link to Homework", cities_index_path %>
<p></p>
<h1>LAB</h1>
<!-- Your code here -->
<% if not @name.nil? %>
<h1>Hello <%=@name%></h1>
<% end %>

<% if not $cities.nil? %>
  <% $cities.values.each do |c|%>
    <% if not c.nil?%>
      <h1>In The City of <%=c.name%></h1>
      <h1>The Temperature is:<%=((((c.weather[:temperature])-273.15)*(9/5))+32).round%> Fahrenheit</h1>
      <h1>and the Forcast is:<%=c.weather[:description]%></h1>
    <%end%>
  <%end%>
<%end%>

 <%= form_with local: true, method: "get" do |f| %>
   <%= f.text_field :city %>
   <%= f.submit %>
 <% end %>

