<h1>City List</h1>

<%= link_to "Back to Lab", main_index_path %>
<p></p>
<%= link_to "Create New City", cities_new_path %>

<% $cities.values.each do |city| %>
<!-- In between these two ruby tags, put your code for displaying a city! -->
<h1> City: <%=city.name%></h1>
<p> Landmark: <%=city.landmark%></p>
<p> Population: <%=city.population%></p>
<p> Weather </p>
<p> Temperature: <%=((((city.weather[:temperature])-273.15)*(9/5))+32).round%> degrees Fahrenheit</p>
<p> Forcast: <%=city.weather[:description]%></p>
<%= link_to "update", cities_update_path(name:city.name) %>
<% end %>
 
