<h1>Create a New City</h1>
<%= form_with local: true, method: "post", url:"/cities/create" do |form| %>
  <p>City: <%= form.text_field :city %></p>
  <p>Landmark: <%= form.text_field :landmark %></p>
  <p>Population: <%= form.text_field :population %></p>
<%= form.submit "Submit" %>

<% end %>
