#update
<h1>Update a City</h1>
<%= form_for @city do |f| %>

  <%= label_tag(:name, "City:") %>
  <%= f.text_field :name %></br>
   
  <%= label_tag(:landmark, "Landmark:") %>
  <%= f.text_field :Landmark %></br>  

  <%= label_tag(:polulation, "Population") %>
  <%= f.text_field :description %></br>

  <%= f.submit "Update" %>
<% end %>
