#update
<h1>Update City</h1>
<h1><%= params[:name] %></h1>
<%= form_with local: true, method: "post", url:"/cities/update" do |form| %>
  <p>City: <%= form.text_field :city %></p>
  <p>Landmark: <%= form.text_field :landmark %></p>
  <p>Population: <%= form.text_field :population %></p>
<%= form.submit "Submit" %>
<%end%>
